.top-wrapper {
    display: flex;

    .left-panel {
        width: 568px;

        .panel-card {
            padding: 28px 32px;
            border: 1px solid rgba(var(--sys-center-channel-color-rgb), 0.08);
            border-radius: 4px;
            background: var(--sys-center-channel-bg);
            box-shadow: 0 2px 3px rgba(0, 0, 0, 0.08);
        }
    }
}
