.edit-category__helpText {
    display: block;
    color: rgba(var(--center-channel-color-rgb), 0.64);
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
    margin-top: -8px;
}

.GenericModal__button.delete {
    background: var(--dnd-indicator) !important; // TODO: Figure out a way around important flag
}

.delete-category__helpText {
    color: var(--center-channel-color);
}
