.edit-category__helpText {
    display: block;
    color: rgba(var(--center-channel-color-rgb), 0.64);
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 16px;
    margin-top: -8px;
}

.delete-category__helpText {
    color: var(--center-channel-color);
}
